<h1>Editar Paciente</h1>

<%= form_with model: [@paciente], url: terapeuta_paciente_path(@paciente), method: :patch, local: true do |f| %>
  <%= render partial: "form", locals: { f: f, paciente: @paciente, user: @paciente.user } %>
  <%= f.submit "Salvar Alterações" %>
<% end %>
